body {
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    color: #333;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 24px;
    padding: 0;
    max-width: 540px;
}

a {
    color: #333;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a:hover {
    color: #999;
    text-decoration: none;
}

a:visited {
    color: #333;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    line-height: 24px;
    margin-left: 24px;
}

p, ul {
    font-size: 16px;
    line-height: 24px;
    max-width: 540px;
}

