<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="description" content="{{ title }}">
    <meta name="author" content="Csaba Palfi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="about:blank" />
    <link rel="stylesheet" href="http://csaba.palfi.me/css/style.css" />
  </head>
  <body>

    <h1>
      {{ header }}
    </h1>

    {{ content }}

    {% if backlink %}
      <p>
        <a href=".">back</a>
      </p>
    {% endif %}

  </body>
</html>